<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TasksList_Lv1" value="Outlook,188,YS115,H001,JMSR,Machine Learning,Leaving,DELFI,Coding,Help Others,Admin,Team Job" />
    <add key="TasksList_Lv2" value="Meeting,Calling,Data Preparation,Dataiku,Kid,Pets,Play Game,Monthly Report,Learning,Others,Sleeping,Ocean,PowerBI,Tensorflow,C#,Python,This Software,Coaching,House Keeping,Sport,Youtube,Doing Research,SLB Job,Private Job,Transportation,Chatting,Meal" />
    <add key="CsvPath" value="C:\Temp\Time_Recording.csv" />
  </appSettings>
</configuration>
